.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .track-info {
    flex-grow: 1;
  }
  
  .add-button, .remove-button {
    background-color: rgba(1, 1, 1, 0);;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  .add-button{
    font-size: 2rem;
  }

  
  .add-button:hover {
    color: #0056b3;
  }

  .remove-button{
    font-size: 1.5rem;
  }
  
  .remove-button:hover {
    color: red;
  }