#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title{
  font-size: 7rem;
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  gap: 50px; /* Space between columns */
  width: 80rem;
}

.column1 {
  flex: 1rem; /* Each column takes equal width */
  padding: 20px;
  text-align: center;
}
.column_playlist {
  flex: 1rem; /* Each column takes equal width */
  padding: 20px;
  text-align: center;
  float: right;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50; /* Green background */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
